@model IEnumerable<Assignment_NRDCL.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Register New Site</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SiteID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SiteID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SiteID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
